body {
    margin: 0;
    background-color: antiquewhite;
    color: rgb(204, 120, 111);
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
  
.column {
    flex: 1;
    padding: 10px;
  }

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: rgb(245, 163, 154);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}

a{
    color: antiquewhite;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 768px) {
    .column {
        flex: 100%
    }
    .nav-links {
        display: none;
    }
    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 15px;
    }
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(231, 133, 133, 0.795);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 35px;
    }
    .img-container {
        flex-direction: column;
    }
}